@import './vars';
@import './mixins';

.slides {
  position: relative;

  img {
    width: 100%;
    display: block;
    box-shadow: 0 0 20px -10px $color-black;
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  transition: opacity .3s ease-out;
  z-index: unset;

  &.slide-1 {
    position: relative;
  }

  &.active {
    opacity: 1;
    transition: opacity .3s ease-out;
    z-index: 100;
  }
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  // // filter: brightness(1);
  // // transition: filter .3s $animate-material-curve;

  // &:hover {
  //   cursor: pointer;
  //   // filter: brightness(0.3);
  //   // transition: filter .3s $animate-material-curve;
  // }

  &.with-details {
    &::before {
      content: '';
      position: absolute;
      background-color: rgba($color-black, .6);
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 10;
    }
  
    &::after {
      content: 'More details →';
      position: absolute;
      text-align: center;
      color: $color-white;
      background: rgba($color-black, .9);
      font-size: 22px;
      padding: 10px 20px;
      z-index: 12;
      opacity: 0;
      transition: opacity .3s $animate-material-curve;
    }
  
    &:hover {
      cursor: pointer;
    }
  
    &:hover::before,
    &:hover::after {
      opacity: 1;
      transition: opacity .3s $animate-material-curve;
    }
  }
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 110;

  @include large-mobile {
    top: 55%;
  }

  @include tablet {
    top: 42%;
  }

  &--previous,
  &--next {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -75px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: $color-white;
    box-shadow: 0 0 30px -5px $color-black;
    opacity: .7;
    cursor: pointer;
    transition: opacity .3s ease-out;

    @include tablet {
      margin-top: -25px;
    }

    &:hover {
      opacity: 1;
      transition: opacity .3s ease-out;
    }
  }

  &--previous {
    left: -20px;

    &.hidden {
      display: none;
    }
  }

  &--next {
    right: -20px;

    &.hidden {
      display: none;
    }
  }

  svg {
    margin: 0 auto;
  }
}

figcaption {
  margin-top: 10px;
}
